@model Orders

@{
    ViewBag.Title = "Orders";
    ViewBag.CurrentUrl = "~/Trade/Orders";
}


<div class="flex">
    <div class="flex-1">
        <div class="text-grey ml">
            <span>Stocks</span>
            <i class="fa-solid fa-caret-right"></i>
            <span>Orders</span>
        </div>
    </div>
</div>